virtualenv/*
config/development.py
config/production.py
.DS_Store
.idea
*.pyc
*.pyo
dump.rdb
data/*
.flaskenv
.env
__pycache__
tmp/*
static/upload/*
static/avatar/*
venv/*
*.pid
wsgi.ini
my_home.db
*.db